body{
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;

}

/*
------------banner---- start---------
*/

.hero-image{
    background-image: linear-gradient(
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.7)),
        url(images/donation13.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 80%;
    display: flex;
}

.hero-text {
    text-align: center;
    color: #fff;
}
.hero-text h1{
    font-size: 50px;
    line-height: 20px;
}

.hero-text p{
    color: orange;
    padding: 15px;
}

.link-button{
    text-decoration: none;
    background-color: #FF5959;
    padding: 10px 30px;
    border-radius: 5px;
    color: #fff;    
}
.link-button:hover{
    background-color: #fff;
    color: #FF5959;
}

/*
------------donate-today---- start---------
*/

.donate-today {
    text-align: center;
    padding: 20px;
    margin: 90px;
}

.flexible-container{
    display: flex;
}

.divide-width{
    height: 80px;
    width: 80px;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 5%;
    padding-right: 5%;
    background-color: #FAFAFA;
    color: #707070;
}

.checked{
    background-color: #FFEEEE;
    border: 1px solid #FF5959;
    font-weight: 700;
    color: #FF5959;
}


input{
    border: none;
    border-bottom: 1px solid #DADADA;
    width: 50%;
    outline: none;
    text-align:center;
}


/*
---------------donate-plan---------start
*/