body{
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;

}

/*
------------banner---- start---------
*/

.hero-image{
    background-image: linear-gradient(
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.7)),
        url(images/donation13.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 80%;
    display: flex;
}

.hero-text {
    text-align: center;
    color: #fff;
}
.hero-text h1{
    font-size: 50px;
    line-height: 20px;
}

.hero-text p{
    color: orange;
    padding: 15px;
}

.link-button{
    text-decoration: none;
    background-color: #FF5959;
    padding: 10px 30px;
    border-radius: 5px;
    color: #fff;    
    border: none;
}
.link-button:hover{
    background-color: #fff;
    color: #FF5959;
}

/*
------------donate-today---- start---------
*/

.donate-today {
    text-align: center;
    margin: 50px 30%;
}
.donate-today p{
    color: #ABABAB;
}
.flexible-container{
    display: flex;
}

.divide-width{
    margin-left: 6%;
    background-color: #FAFAFA;
    color: #707070;
}

.checked{
    background-color: #FFEEEE;
    border: 1px solid #FF5959;
    font-weight: 700;
    color: #FF5959;
}


input{
    border: none;
    border-bottom: 1px solid #DADADA;
    width: 80%;
    outline: none;
    text-align:center;
}


/*
---------------donate-plan---------start
*/
.donate-plan{
    text-align: center;
    margin: 50px 10%;
}

.donate-plan p{
    color: #ABABAB;
    margin: 50px 20%;

}

.one-third-width{
    margin-left: 10px;
    padding-left: 15px;
    padding-top: 25px;
}

#food{
    background-repeat: no-repeat;
    text-align: left;
    background-color: #EDF5F6;
    
}
#shelter{
    background-repeat: no-repeat;
    text-align: left;
    background-color: #FFEEEE;
}
#education{
    background-repeat: no-repeat;
    text-align: left;
    background-color: #FFF4D6;
}

/*
------------feed-------start----
*/
.feed{
    margin: 90px;
}
.feed p{
    color: #ABABAB;
}

.divide-feed{
    width: 50%;
    padding-left: 2%;
}

.divide-feed img{
    height: 100%;
    width: 100%;
}

/*
--------------get-my-update-----------start----
*/

.get-my-updates{
    text-align: center;
    margin: 50px 100px;
    
}
.get-my-updates p{
    color: #ABABAB;
    margin: 20px 110px;
}

.form-area{
    background-color: #FFF4D6;
    height: 200px;
    width: 800px;
    margin: auto;
    border-radius: 25px;
}

.form-area input{
    height: 40px;
    width: 250px;
    margin: 70px;
    margin-right: 0;
    padding-left: 15px;
    text-align: left;
    background-color: #D9D9D9;
}

.form-area button{
    height: 40px;
    width: 115px;
    text-decoration: none;
    background-color: #FF5959;
    padding: 10px 30px;
    border-radius: 5px;
    color: #fff;
    text-align: center;
    border: none;
    margin-left: 0;
}

.form-area button:hover{
    background-color: #000;
    color: #fff;
}

/* #form2 input{
    background-color: #D9D9D9;
    border: none;
    height: 50px;
    width: 350px;
    text-align:left;
    padding-left: 10px;
} */


/*
----------------footer-------start----
*/

footer{
    text-align: center;
    background-color: black;
    padding: 10px
}

footer h2{
    color: #FF5959;
    font-family: 'Lobster', cursive;

}

footer small{
    color: #75777F;
}