body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
}
h1{
    font-size: 35px;
}
/*
------------banner---- start---------
*/
/* 
.banner{
    background-image: linear-gradient(
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.7)),
        url(images/donation13.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100%;
} */

.banner {
    width: 100%;
    height: 100vh;
    background-image: url(images/donation13.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: white;
    text-align: center;
}

.container{
    width: 90%;
    height: 100%;
    max-width: 1000px;
    margin: 0 auto;

    display: flex;
}
.banner-text{
    margin-top: 200px;
}
.container .banner-text h1{
    font-size: 54px;
    margin-bottom: 18px;
}

.container .banner-text p{
    font-size: 20px;
    max-width: 90%;
    margin: 0 auto;
    margin-bottom: 50px;
}

.container .banner-text a{
    text-decoration: none;
    display: inline-block;
    background-color: #FF5959;
    border-radius: 5px;
    font-size: 30px;
    padding: 10px 30px;
    color: white;
}

.container .banner-text a:hover{
    background-color: #fff;
    color: #FF5959;
}
.link-button{
    text-decoration: none;
    background-color: #FF5959;
    padding: 10px 30px;
    border-radius: 5px;
    color: #fff;    
    border: none;
}
.link-button:hover{
    background-color: #fff;
    color: #FF5959;
}

/*
------------donate-today---- start---------
*/

.donate-today {
    text-align: center;
    margin: 20px 420px;
}
.donate-today p{
    color: #ABABAB;
}
.flexible-container{
    display: flex;
}

.divide-width{
    width: 100px;
    margin-left: 6%;
    background-color: #FAFAFA;
    color: #707070;
    padding: 10px;
    padding-bottom: 20px;
    border-radius: 5px;
}

.checked{
    background-color: #FFEEEE;
    border: 1px solid #FF5959;
    font-weight: 700;
    color: #FF5959;
}


input{
    border: none;
    border-bottom: 1px solid #DADADA;
    width: 80%;
    outline: none;
    text-align:center;
}


/*
---------------donate-plan---------start
*/
.donate-plan{
    text-align: center;
    margin: 50px 10%;
}

.donate-plan p{
    color: #ABABAB;
    max-width: 90%;
    margin: 20px auto;
    
}

.one-third-width{
    margin-left: 10px;
    padding-left: 15px;
    padding-top: 25px;
}

#food{
    background-repeat: no-repeat;
    text-align: left;
    background-color: #EDF5F6;
    
}
#shelter{
    background-repeat: no-repeat;
    text-align: left;
    background-color: #FFEEEE;
}
#education{
    background-repeat: no-repeat;
    text-align: left;
    background-color: #FFF4D6;
}

/*
------------feed-------start----
*/
.feed{
    margin: 90px;
}
.feed p{
    color: #ABABAB;
    max-width: 90%;
    margin: 20px auto;
}

.half-feed{
    width: 50%;
    padding-left: 2%;
}

.half-feed img{
    height: 100%;
    width: 100%;
}

/*
-------------my-section---------------start
*/

.my-section{
    width: 100%;
    height: 100%;
    max-width: 1000px;
    margin: 0 auto;
    text-align: center;
    background-color: #FAFAFA;
}

.my-section .non-profit h1, h3{
    margin-bottom: 18px;
    padding-top: 18px;
}

.my-section .non-profit h3{
    color: #CACACA;
    font-weight: lighter;
}

.my-section .non-profit p{
    font-size: 20px;
    max-width: 90%;
    margin: 0 auto;
    margin-bottom: 50px;
}

.non-profit-img{
    width: 33%;
    padding: 2%;
}

.non-profit-img img{
    width: 80%;
}
/*
--------------get-my-update-----------start----
*/

.get-my-updates{
    text-align: center;
    margin: 50px 100px;
    
}
.get-my-updates p{
    color: #ABABAB;
    max-width: 350px;
    margin: 20px auto;

}

.form-area{
    background-color: #FFF4D6;
    height: 200px;
    width: 800px;
    margin: auto;
    border-radius: 25px;
}

.form-area input{
    height: 40px;
    width: 250px;
    margin: 70px;
    margin-right: 0;
    padding-left: 15px;
    text-align: left;
    background-color: #D9D9D9;
}

.form-area button{
    height: 40px;
    width: 115px;
    text-decoration: none;
    background-color: #FF5959;
    padding: 10px 30px;
    border-radius: 5px;
    color: #fff;
    text-align: center;
    border: none;
    margin-left: 0;
}

.form-area button:hover{
    background-color: #000;
    color: #fff;
}

/* #form2 input{
    background-color: #D9D9D9;
    border: none;
    height: 50px;
    width: 350px;
    text-align:left;
    padding-left: 10px;
} */


/*
----------------footer-------start----
*/

footer{
    text-align: center;
    background-color: black;
    padding: 10px
}

footer h2{
    color: #FF5959;
    font-family: 'Lobster', cursive;

}

footer small{
    color: #75777F;
}

footer p{
    margin-top: 25px;
    color: #fff;
}